@model IEnumerable<DataAccessLayer.Models.Weekend>
@{
    ViewData["Title"] = "HolydaysView";
}

<h2>HolydaysView</h2>
@*<h3>@ViewData["Message"]</h3>*@
<table class="table table-dark">
    <thead>
    <th scope="col">Name</th>
    <th scope="col">Start day </th>
    <th scope="col">Finish date</th>
    <th scope="col"></th>
    </thead>
    <tbody>

        @foreach (var holyday in Model)
        {

            <tr>
                <th scope="row">@holyday.Name</th>
                <th scope="row">@holyday.startDate.ToString("yyyy-MM-dd") </th>
                <th scope="row">@holyday.EndDate.ToString("yyyy-MM-dd") </th>
                @if (@User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Role)?.Value == "admin")
                {
                    <th scope="row"><a asp-area="" asp-controller="Holidays" asp-action="DeleteHolyDay" asp-route-holidaysId="@holyday.Id"><button type="button" class="btn btn-secondary btn-sm" style="margin:0,20px; ">Delete</button></a></th>
                }
            </tr>
        }
    </tbody>
</table>
@if (@User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Role)?.Value == "admin")
{
    <a asp-area="" asp-controller="Holidays" asp-action="CreateHolydays"><button type="button" class="btn btn-primary">Add day</button></a>
}
